{{!-- <p class="comment-text">{{comment_text}}</p>
<p class="text-end details">on <span>{{formatDate created_at}}</span> of <span>{{post.title}}</span></p> --}}
<p class="comment-text">{{comment_text}} <span class="comment-details">on <strong>{{formatDate created_at}}</strong> of <strong>{{post.title}}</strong></span></p>