<p class="new-post text-center"><a href="/dashboard/post/add">+ Create New Post</a></p>
{{#if posts.length}}
<section>
    <h2 class="dashboard-title">Your Posts</h2>
    
    <ul class="post-list d-flex flex-column align-items-stretch">
        {{#each posts as |post|}}
        <li class="post">
            {{> post-list post}}
            <a class="post-function" href="/dashboard/edit/post/{{post.id}}" >Edit Post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

{{#if comments.length}}
<section>
    <h2 class="dashboard-title">Your Comments</h2>
    <ul class="comment-list container-fluid">
        {{#each comments as |comment|}}
        <li class="comment row">
            <p class="comment-text col-12">{{comment.comment_text}}</p>
            <p class="comment-function col-12 col-md-8 row">
                <a class="comment-function-element" href="/post/{{comment.post_id}}">View</a>
                <a class="comment-function-element" href="/dashboard/edit/comment/{{comment.id}}">Edit</a>
            </p>
            <p class="comment-details text-end col-12 col-md-4">on <strong>{{formatDate comment.created_at}}</strong> of <strong>{{comment.post.title}}</strong></p>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
