<section class="single-post">
  <h3 class="single-post-title">{{post.title}}</h3>
  <p class="details">By <span>{{post.user.username}}</span> on <span>{{formatDate post.created_at}}</span></p>
  <p class="full-content">
    {{post.content}}
  </p>
</section>

{{#isAnd loggedIn cookieCheck}}
<form class="comment-form">
  <div>
    <textarea class="comment-area" name="comment-body"></textarea>
  </div>
  <button type="submit">Add Comment</button>
</form>
{{else}}
<p class="text-center">Please <a href="/login">login in</a> to leave a comment</p>
{{/isAnd}}

{{#if post.comments.length}}
<section class="post-comment container-fluid">
  <h4 class="comment-title">Comments</h4>
  <ul>
    {{#each post.comments as |comment|}}
    <li>
      <div class="comment-content row">
        <p class="col-12">{{comment.comment_text}}</p>
        <p class="col-12 text-end">By {{comment.user.username}} on {{formatDate comment.created_at}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

{{#if loggedIn}} {{#if cookieCheck}}
<script src="/javascript/comment.js"></script>
{{/if}} {{/if}}